<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Click with Space Key</title>
    
</head>
<body>
    <h1>Press Space to Click the Button</h1>
    <button onclick="sendRequest()">Click Me</button>
    <p id="result"></p>

    <script>

        
            fetch("/button");
        document.addEventListener('DOMContentLoaded', (event) => {
            document.addEventListener('keydown', (e) => {
                if (e.code === 'Space') {
                    e.preventDefault(); // Space 키의 기본 동작 방지 (스크롤)
                    document.getElementById('myButton').click(); // 버튼 클릭
                }
            });
        });
    </script>

    {{tmp}}
</body>
</html>